<div id="title">
  <h1>Stupid Coaching</h1>
</div>
<div class="container m-1">
  <div class="callout my-0">
      <blockquote class="blockquote">
        <p><%= @question %></p>
      <cite class="blockquote-footer">
        You
      </cite>
      </blockquote>
    </div>
  <div class="callout my-0 highlight">
      <blockquote class="blockquote">
        <p><strong><%= @response %></strong></p>
    <cite class="blockquote-footer">
        Your coach
      </blockquote>
      </cite>
  </div>

<p id="link"><%= link_to "Ask another question", ask_path %></p>
